{% extends 'site_map/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block lib %}
    <script src="{% static "js/home_page.js" %}" type="text/javascript"></script>
{% endblock %}
{% block style %}
    <style>
        .scale {
            transition: 1s; /* Время эффекта */
        }

        .scale:hover {
            transform: scale(1.2); /* Увеличиваем масштаб */
        }

        #map {
            width: 1300px;
            height: 600px;
            padding: 10px;
            margin: 15px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Карта специалистов</h1>
        <input type="hidden" value="{{ x }}" id="x">
        <input type="hidden" value="{{ y }}" id="y">
        <input type="hidden" value="{{ names }}" id="names">
        <div id="map"></div>
    </div>
    <div class="container">
        <table class="table" id="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Адрес</th>
            </tr>
            </thead>
            <tbody id="data_table">
            {% for el in table_data %}
                <tr>
                    <th scope="row">{{ el.id }}</th>
                    <td>{{ el.fio }}</td>
                    <td>{{ el.address }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
