{% extends 'site_map/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block lib %}
    <script src="{% static "js/home_page.js" %}" type="text/javascript"></script>
{% endblock %}
{% block style %}
    <style>
        .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
        #map {
            width: 1300px;
            height: 600px;
            padding: 10px;
            margin: 15px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Карта специалистов</h1>
        <input type="hidden" value="{{ x }}" id="x">
        <input type="hidden" value="{{ y }}" id="y">
        <input type="hidden" value="{{ names }}" id="names">
        <div id="map"></div>
    </div>
{% endblock %}
